*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}
ul{
    
}
li {
    list-style: none;
    float: left;
    background-color: black;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: #72ab00;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav {
    color: white;
    
}
.header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    color: black;
    max-width: 100%;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: white;
    color: #3b5998;
}
.fa-twitter {
    background: white;
    color: #55acee;

}
.fa-google {
    background: white;
    color: #dd4b39;
}
.fa-linkedin {
    background: white;
    color: #007bb5;
}
img {
    border-radius: 50%;
    width: 250px;
}
h1 {
    color: #72ab00;
}
h2, h3, h4 {
    color: #72ab00;
    font-weight: lighter;
    padding-bottom: 0%;
}
#konten {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#konten td, #konten th {
    border: 1px solid #ddd;
    padding: 8px;
}
#konten tr:nth-child(even){background-color: #f2f2f2;}

#konten th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}
h5 {
    color: black;
    font-weight: lighter;
}
.sidebar {
    display: inline-block;
    vertical-align: text-top;
    width: 200px;
    margin-top: 0px;
}
input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 0px 0px 15px 15px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}